button#add-student {
      position: absolute;
      right: 50px;
      bottom: 50px;
}

table {
      width: 100%;
}

table * {
      text-align: left !important;
}

div.page-content {
      padding: 50px;
}