button#add-student {
      position: absolute;
      right: 50px;
      bottom: 50px;
      z-index: 10;
}

dialog h5 {
      font-size: 150% !important;
      color: #AAA;
      padding-top: 5px !important;
}

dialog#help-search li {
      padding: 0px !important;
}

dialog#help-search ul {
      margin: 0px !important;
}

/* button.help {
      position: absolute;
      right: 50px;
}

button.action {
      position: absolute;
      right: 90px;
} */
div#main-actions>* {
      display: inline-block;
      margin-right: 10px;
}

table {
      width: 100%;
}

table * {
      text-align: left !important;
}

table tr {
      cursor: pointer;
}

div.page-content {
      padding: 50px;
}