/*.mdl-grid.center-items {
      justify-content: center;
}*/
#login-container {
      width: 360px;
      padding: 30px;
      box-sizing: border-box;
}

body {
      display: flex;
      align-items: center;
      justify-content: center;
}

button#log-in {
      width: 100%;
      max-width: 100%;
      margin-bottom: 20px;
}

a {
      text-decoration: none;
      font-size: 125%;
}