/*.mdl-grid.center-items {
      justify-content: center;
}*/
body {
      display: flex;
      align-items: center;
      justify-content: center;
}

button#log-in {
      width: 300px;
      max-width: 100%;
}