* {
      box-sizing: border-box;
}

#student-name {
      margin: 0px;
}

#student-info {
      float: left;
      width: 32%;
      margin: 40px 2%;
      padding: 20px;
}

#student-info>* {
      width: 100%;
}

table.service-list {
      float: right;
      width: 60%;
      margin: 40px 2%;
}