* {
      box-sizing: border-box;
}

#student-name {
      margin: 0px;
}

#student-info {
      float: left;
      width: 20%;
      margin: 40px 5%;
}

#student-info>* {
      width: 100%;
}

table.service-list {
      float: right;
      width: 60%;
      margin: 40px 5%;
}