* {
      box-sizing: border-box;
}

#student-name {
      margin: 0px;
}

#left-column {
      float: left;
      width: 32%;
      margin: 40px 2%;
}

div#student-info, div#student-actions {
      padding: 20px;
      margin-bottom: 30px;
}

#student-info>* {
      width: 100%;
}

table.service-list {
      float: right;
      width: 60%;
      margin: 40px 2%;
}

button#add-hours {
      position: absolute;
      right: 50px;
      bottom: 50px;
      z-index: 10;
}